<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Countries" verbose="1">
    <test name="List">
        <groups>
            <run>
                <include name="countrylist"/>
            </run>
        </groups>
        <classes>
            <class name="TestCountryList"/>
        </classes>
    </test>

    <test name="Search">
        <groups>
            <run>
                <include name="search"/>
            </run>
        </groups>
        <classes>
            <class name="TestSearchField"/>
        </classes>
    </test>
</suite>

